.DS_Store
.class
a.out
.vimrc
.svn
.*.swp

/.settings
/*.dia
/*.c
/*.h
/*.xml
/bin/
/ant-bin/
/test.c
/picodiagram-compiler.jar
/bloqqi-compiler.jar
/doc/
/graphics/
/src/generated/
/diagrams/
/report-tests/
/.gradle
/drast
/DrAST.cfg
/filter.fl2
/Makefile
/test.dot
