.DS_Store
.class
a.out
.vimrc
.svn
.*.swp

/.settings
/*.dia
/*.c
/*.h
/bin/
/ant-bin/
/test.c
/picodiagram-compiler.jar
/bloqqi-compiler.jar
/doc/
/graphics/
/src/generated/
/diagrams/
/report-tests/
